fastapi
uvicorn
sqlalchemy
asyncpg
python-dotenv
pydantic
pydantic-settings
python-jose
passlib[bcrypt]
bcrypt==4.0.1
greenlet
pytest
pytest-asyncio
httpx
openpyxl
python-docx
email-validator
python-multipart
